*.iml
/upload-bin/.gradle
/upload-bin/build
/load-bin/.gradle
/load-bin/build
/load-bin/.idea
/msvs-model/.gradle
/msvs-model/base-lib/build
/msvs-model/main-src/build
/msvs-model/.idea
/parse/.idea
/parse/.gradle
/local-repo
/parse/build
/binary_delivery/.gradle
/binary_delivery/.idea
/binary_delivery/build
/publish/.gradle
/publish/build
/publish/uploads/boost
/publish/uploads/boost_atomic-vc120
/publish/uploads/boost_chrono-vc120
